@import '@/assets/scss/variables';

.input {
  font-family: 'Circular Std';
  padding: 12px 10px;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid $color-gray;
  border-radius: 4px;
  outline: none;

  &::placeholder {
    color: $color-gray;
  }

  &:focus {
    border: 1px solid $color-gray-subtitle;
  }

  &:disabled {
    background-color: $color-white;
    opacity: 0.8;
  }

  &__clear {
    position: absolute;
    top: 11px;
    right: 10px;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      color: red;
    }
  }
}
