$color-black: black;
$color-gray: #DFE2E4;
$color-gray-subtitle: #6C757D;
$color-white: white;
$color-blue: #0063F5;
$color-positive: #21BF73;
$color-negative: #D90429;

$color-background: #F5F5F5;

$transition: all .2s;
$shadow: 0 4px 8px rgb(0 0 0 / 16%);
$shadow-text: 0 8px 12px rgba(0, 0, 0, 0.35);
